<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">

      <img src="/images/search.png" alt="Magnifying glass">
      <h2>MediSearch</h2>
      <p>Look up any medicine using Medi's webscrapping powers! See what a medicine is all about, some general warnings, and more!</p>
      <p><a class="btn " href="/medisearch">Search now &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">

      <img src="/images/databse.png" alt="Database">
      <h2>MediBase</h2>
      <p>Store all you prescriptions that you have searched for in MediBase, where can view you prescriptions at any time.</p>
      <p><a class="btn " href="/medibase">Check out your Prescriptions &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">

      <img src="/images/notification.png" alt="Magnifying glass">
      <h2>MediNotice</h2>
      <p>Get daily reminders to take your medication with MediNotice. To bee implemented at another time.</p>
      <p><a class="btn " href="#">Inactive &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
