<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%-include("./partials/head.ejs")%>
</head>

<body>
  <%-include("./partials/navbar.ejs")%>

  <% if (drugItems.length > 0) { %>
  <% drugItems.forEach(drug => { %>
    <%- include(".partials/drugitem.ejs")%>
  <% }); %>
  <% } else { %>
    <div class="container">
      <h1 class="mt-5 pt-5 lead-1">MediBase is currently empty, please add an item through MediSearch to make use of MediBase</h1>

    </div>
  <%} %>

  <%-include("./partials/footer.ejs")%>
</body>

</html>
