<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include("./partials/head.ejs")%>

</head>

<body>

  <%- include("./partials/navbar.ejs")%>

  
    <% if(searched) { %>
    <%- include("./partials/drugitem.ejs")%>
    <%  }; %>



  <%- include("./partials/footer.ejs")%>
</body>

</html>
