<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include("./partials/head.ejs")%>

</head>

<body>

  <%- include("./partials/navbar.ejs")%>

  <form class="container mt-5 pt-5 " action="/medisearch" method="post">
    <h2>Enter the medicine you want to search for</h2>
    <input class="form-control me-2" type="search" id="search" name="search" placeholder="Search" aria-label="Search" required>
    <button class="btn " type="submit">Search</button>
  </form>
  <% if(searched) { %>
  <%- include("./partials/drugitem.ejs")%>
  <div class="container">
    <a href="/add-prescription" class="btn">Add to MediBase?</a>
  </div>

  <%  }; %>



  <%- include("./partials/footer.ejs")%>
</body>

</html>
